.wrapper{
    margin:0 55px 55px;
    height: auto;
}
.wrapperBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 152px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid #000000;
}
.title{
    align-self: flex-start;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.first{
}